<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UnitPricing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <UnitPricing.Properties.Settings>
            <setting name="UnitPricing_wsJobPricer_Service" serializeAs="String">
                <value>http://lseusts2470:8088/Service.asmx</value>
            </setting>
        </UnitPricing.Properties.Settings>
    </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebtopssItemPriceProvABCSImplBinding"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.comfortsite.com/ebiz/webtoppsservice/GetUserData.asmx" binding="basicHttpBinding" bindingConfiguration="GetUserDataSoap" contract="ComfortSiteAuth.GetUserDataSoap" name="GetUserDataSoap" />
      <endpoint address="http://irfmwuat.corp.irco.com:19002/soa-infra/services/EBS_OM/WebtopssItemPriceProvABCSImpl/webtopssitempriceprovabcsimpl_client_ep"
          binding="basicHttpBinding" bindingConfiguration="WebtopssItemPriceProvABCSImplBinding"
          contract="priceProxy.WebtopssItemPriceProvABCSImpl" name="WebtopssItemPriceProvABCSImpl_pt">
        <headers>
          <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:UsernameToken>
              <wsse:Username>IRExtBndryU@tWebTopss</wsse:Username>
              <wsse:Password>IRExtBndryU@tWebTopss</wsse:Password>
            </wsse:UsernameToken>
          </wsse:Security>
        </headers>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>